/*
This is a template for database configuration file

To use this file, please make sure to
	1. copy-paste this file in the same directory
	2. remove .template extension
*/

var host = '';
var port = '';
var database = '';

var username = '';
var password = '';

exports.host = host;
exports.port = port;
exports.database = database;
exports.username = username;
exports.password = password;